# Credit Card Retention Analysis

## Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot
sns.set()
pd.options.display.max_columns = 999

In [3]:
data = pd.read_csv('../data/BankChurners_v2.csv')

***

## General Cleaning Techniques

### Checking for Duplicates

In [4]:
data.shape

(10127, 23)

In [9]:
# data.head()
print("Unique: " + str(data["CLIENTNUM"].nunique()))
print("Total Count: " + str(data.shape))

Unique: 10127
Total Count: (10127, 23)

In [6]:
data.drop_duplicates(inplace = True)

In [7]:
data.shape

(10127, 23)

No duplicates based on `CLIENTNUM`--good to go!

### Subsetting Data

In [8]:
data.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [12]:
data = data[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
      'Dependent_count', 'Education_Level', 'Marital_Status',
      'Income_Category', 'Card_Category', 'Months_on_book',
      'Total_Relationship_Count', 'Months_Inactive_12_mon',
      'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
      'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt']]
print(data)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0          90032  Existing Customer            45      M                3
1          90033  Existing Customer            49      F                5
2          90034  Existing Customer            51      M                3
3          90035  Existing Customer            40      F                4
4          90036  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122     100154  Existing Customer            50      M                2
10123     100155  Attrited Customer            41      M                2
10124     100156  Attrited Customer            44      F                1
10125     100157  Attrited Customer            30      M                2
10126     100158  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School            NaN  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123             NaN       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate            NaN     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
0                  39                         5                       1
1                  44                         6                       1
2                  36                         4                       1
3                  34                         3                       4
4                  21                         5                       1
...               ...                       ...                     ...
10122              40                         3                       2
10123              25                         4                       2
10124              36                         5                       3
10125              36                         4                       3
10126              25                         6                       2

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
0                          3       12691.0                  777
1                          2        8256.0                  864
2                          0        3418.0                    0
3                          1        3313.0                 2517
4                          0        4716.0                    0
...                      ...           ...                  ...
10122                      3        4003.0                 1851
10123                      3        4277.0                 2186
10124                      4        5409.0                    0
10125                      3        5281.0                    0
10126                      4       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt
0              11914.0                 1.335             1144
1               7392.0                 1.541             1291
2               3418.0                 2.594             1887
3                796.0                 1.405             1171
4               4716.0                 2.175              816
...                ...                   ...              ...
10122           2152.0                 0.703            15476
10123           2091.0                 0.804             8764
10124           5409.0                 0.819            10291
10125           5281.0                 0.535             8395
10126           8427.0                 0.703            10294

[10127 rows x 18 columns]

### Datatypes

In [13]:
data.dtypes

CLIENTNUM                     int64
Attrition_Flag               object
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
dtype: object

# Missing Values

In [14]:
data.isnull().sum()

CLIENTNUM                      0
Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
dtype: int64

In [25]:
data[data["Education_Level"].isna()]

Empty DataFrame
Columns: [CLIENTNUM, Attrition_Flag, Customer_Age, Gender, Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category, Months_on_book, Total_Relationship_Count, Months_Inactive_12_mon, Contacts_Count_12_mon, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt]
Index: []

In [22]:
# Used to fill unknown/NA values with the text Unknown
data['Education_Level'] = data['Education_Level'].fillna("Unknown")
data['Marital_Status'] = data['Marital_Status'].fillna("Unknown")
data['Income_Category'] = data['Income_Category'].fillna("Unknown")

In [26]:
#Are there any other nulls
data.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
dtype: int64